---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>
  For the complete and most up-to-date publication list, please visit
  <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</p>

{% include base_path %}
{% assign publication_count = site.publications | size %}

{% if publication_count > 0 %}
  {% if site.publication_category %}
    {% for category in site.publication_category %}
      {% assign title_shown = false %}
      {% for post in site.publications reversed %}
        {% if post.category != category[0] %}
          {% continue %}
        {% endif %}
        {% unless title_shown %}
          <h2>{{ category[1].title }}</h2><hr />
          {% assign title_shown = true %}
        {% endunless %}
        {% include archive-single.html %}
      {% endfor %}
    {% endfor %}
  {% else %}
    {% for post in site.publications reversed %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% else %}
  <p>Individual publication entries will be added here. Google Scholar currently provides the authoritative list.</p>
{% endif %}
